.page {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content {
    flex-grow: 1;
}

.link {
    text-decoration: none;    
    color: currentcolor;
}

.contacts {
    font-style: normal;
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.section {
    padding: 96px 0;
}

.container {
    max-width: 320px;
    margin: auto;
    padding: 0 16px;
}

.button {
    display: block;
}

.icon {
    display: block;
}

.label {
    display: block;
    font-size: 12px;
    line-height: 1.17em;
    color: #8E8F99;
    letter-spacing: 0.04em;
}

.text-input {
    display: block;
    font-family: inherit;
    color: #2E2F42;
    background-color: transparent;
    outline: transparent;
}

.picture {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}

.hero-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    margin: 0;
}

.section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 72px;
}

.element-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    margin: 0;
    margin-bottom: 8px;
}

.page-header {
    font-size: inherit;
    margin: 0;
}

.form-header {
    font-size: inherit;
    margin: 0;
}

.paragraph {
    font-size: inherit;
    margin: 0;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.text-area {
    line-height: 1.17;
    font-size: 12px;
    line-height: 1.17em;
    color: #8E8F99;
    letter-spacing: 0.04em;
}

.text-area::placeholder {
    font-size: 12px;
    line-height: 1.17em;
    color: #8E8F99;
    letter-spacing: 0.04em;
}

.text-input {
    line-height: 2;
    font-size: 12px;
    line-height: 1.17em;
    color: #8E8F99;
    letter-spacing: 0.04em;
}

/* Socials icon and icon link properties */

.socials {
    display: flex;
    justify-content: center;
}

.socials .link {
    display: flex;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
}

.socials .icon {
    fill:#F4F4FD;
    position: absolute;
}


/* Hero section */

.hero.section {
    background-color: #2E2F42;
    color: #ffffff;
    padding: 72px 0;
    max-width: 320px;
    margin: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

@media (min-resolution: 192dpi) {
    .hero.section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-background-mobile@2x.jpg");
    }        
}

.hero-header {
    margin: 0 auto 72px auto;
    max-width: 216px;
}

.hero.section .button {
    background-color: #4D5AE5;
    color: currentColor;
    cursor: pointer;
    margin: auto;
    min-width: 169px;
    border: 0;
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero.section .button:hover,
.hero.section .button:focus {
    background-color: #404BBF;
}

/* Advantages section */

.advantages.section .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.advantages.section .element {
    flex-basis: 100%;
}

.advantages.section .icon-container {
    display: none;
}

/* Team section */

.team.section {
    background-color: #F4F4FD;
}

.team.section .team.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;  
}

.team.section .team.list > .element {
    background-color: #ffffff;
    text-align: center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    flex-basis: 100%;
    box-shadow: 0px 2px 1px 0px #2E2F4214,
                0px 1px 1px 0px #2E2F4229,
                0px 1px 6px 0px #2E2F4214;
}

.team.section .text-block {
    padding: 32px 0;
}

.team.section .paragraph {
    margin-bottom: 8px;
}

.team.section .socials {
    gap: 24px;
}

.team.section .socials .link:hover,
.team.section .socials .link:focus {
    background-color: #404BBF;
}

/* Poartfolio section */

.portfolio.section .list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    justify-content: center;
}

.portfolio.section .element {
    flex-basis: 100%;
}

.portfolio.section .element .text-block {
  border-right: 1px solid #E7E9FC;
  border-bottom: 1px solid #E7E9FC;
  border-left: 1px solid #E7E9FC;
}

.portfolio.section .text-block {
    padding: 32px 16px;
}

.portfolio.section .thumb {
    height: 280px;
    position: relative;
    overflow: hidden;
}

.portfolio.section .card-overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4D5AE5;
    color: #F4F4FD;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio.section .element:hover .card-overlay,
.portfolio.section .element:focus .card-overlay {
    transform: translateY(0%);
}

/*Mobile only styles */
@media screen and (max-width: 767px) {
    /* Hero section */
    .hero.section .hero-header {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
    }
    .hero.section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url("../images/mobile/1x/hero-background.jpg");
    }

    @media (min-resolution: 192dpi) {
        .hero.section {
            background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url("../images/mobile/2x/hero-background@2x.jpg");
        }        
    }

    /* Advantages section */
    .advantages.section .element-header {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        color: #2E2F42;
        text-transform: capitalize;
    }

    .advantages.section .paragraph {
        font-weight: 500;
    }

    /* Team section */
    .team.section .container {
        padding: 0 28px;
    }

    /* Portfolio section */
    .portfolio.section .element {
        box-shadow: 
        0px 2px 1px 0px #2E2F4214,
        0px 1px 1px 0px #2E2F4229,
        0px 1px 6px 0px #2E2F4214;
    }
}