.page {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content {
  flex-grow: 1;
}

.link {
  text-decoration: none;
  color: currentcolor;
}

.contacts {
  font-style: normal;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.section {
  padding: 96px 0;
}

.container {
  max-width: 320px;
  margin: auto;
  padding: 0 16px;
}

.button {
  display: block;
  cursor: pointer;
  padding: 0;
}

.icon {
  display: block;
}

.label {
  display: block;
  font-size: 12px;
  line-height: 1.17em;
  color: #8e8f99;
  letter-spacing: 0.04em;
}

.text-input {
  display: block;
  font-family: inherit;
  color: #2e2f42;
  background-color: transparent;
  outline: transparent;
}

.picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.hero-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  margin: 0;
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 72px;
}

.element-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin: 0;
  margin-bottom: 8px;
}

.page-header {
  font-size: inherit;
  margin: 0;
}

.form-header {
  font-size: inherit;
  margin: 0;
}

.paragraph {
  font-size: inherit;
  margin: 0;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.text-area {
  line-height: 1.17;
  font-size: 12px;
  line-height: 1.17em;
  color: #8e8f99;
  letter-spacing: 0.04em;
}

.text-area::placeholder {
  font-size: 12px;
  line-height: 1.17em;
  color: #8e8f99;
  letter-spacing: 0.04em;
}

.text-input {
  line-height: 2;
  font-size: 12px;
  line-height: 1.17em;
  color: #8e8f99;
  letter-spacing: 0.04em;
}

/* Socials icon and icon link properties */

.socials {
  display: flex;
  justify-content: center;
}

.socials .link {
  display: flex;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}

.socials .icon {
  fill: #f4f4fd;
  position: absolute;
}

/* Header styles */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .link,
.header .logo {
  display: block;
}

.header .logo .accent {
  color: #2e2f42;
}

.header .burger.button {
  background-color: transparent;
  border: none;
}

.header .burger.button {
  fill: #2f2f37;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

/* Hero section */

.hero.section {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 72px 0;
  max-width: 320px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-header {
  margin: 0 auto 72px auto;
  max-width: 200px;
}

.hero.section .button {
  background-color: #4d5ae5;
  color: currentColor;
  cursor: pointer;
  margin: auto;
  min-width: 169px;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero.section .button:hover,
.hero.section .button:focus {
  background-color: #404bbf;
}

/* Advantages section */

.advantages.section .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.advantages.section .element {
  flex-basis: 100%;
}

.advantages.section .icon-container {
  display: none;
}

/* Team section */

.team.section {
  background-color: #f4f4fd;
}

.team.section .team.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team.section .team.list > .element {
  background-color: #ffffff;
  text-align: center;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  flex-basis: 100%;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

.team.section .text-block {
  padding: 32px 0;
}

.team.section .paragraph {
  margin-bottom: 8px;
}

.team.section .socials {
  gap: 24px;
}

.team.section .socials .link:hover,
.team.section .socials .link:focus {
  background-color: #404bbf;
}

/* Poartfolio section */

.portfolio.section .list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}

.portfolio.section .element {
  flex-basis: 100%;
}

.portfolio.section .element .text-block {
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.portfolio.section .text-block {
  padding: 32px 16px;
}

.portfolio.section .thumb {
  height: 280px;
  position: relative;
  overflow: hidden;
}

.portfolio.section .card-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio.section .element:hover .card-overlay,
.portfolio.section .element:focus .card-overlay {
  transform: translateY(0%);
}

/* Footer styles */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo .accent {
  color: #f4f4fd;
}

.footer .tagline {
  color: #f4f4fd;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.footer .socials-block .paragraph {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer .list.socials {
  gap: 16px;
}

.footer .socials .link:hover,
.footer .socials .link:focus {
  background-color: #31d0aa;
}

.footer .form-block .paragraph {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer .form-container .text-input {
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  color: #ffffff;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .form-container .text-input::placeholder {
  color: #ffffff;
}

.footer .form-container .text-input:focus {
  border-color: #31d0aa;
}

.footer .form-container .button {
  display: flex;
  padding: 8px 24px;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  min-width: 165px;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .form-container .button:hover,
.footer .form-container .button:focus {
  background-color: #31d0aa;
}

.footer .form-container .icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* Modal windows and overlays */
.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  transition-property: transform;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
    0px 2px 1px 0px #00000033;
  padding: 72px 16px 16px 16px;
}

.modal .close-button {
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000001a;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  align-self: flex-end;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-button .icon {
  fill: #2e2f42;
  transition-property: fill;
}

.modal .close-button:hover .icon,
.modal .close-button:focus .icon {
  fill: #ffffff;
}

.modal .close-button:hover,
.modal .close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal .form-header {
  text-align: center;
  font-weight: 500;
  color: #2e2f42;
  display: block;
  margin-bottom: 16px;
}

.modal .form-input-unit {
  margin-bottom: 8px;
}

.form-input-unit .label,
.form-textarea-unit .label {
  margin-bottom: 4px;
}

.modal .text-input-container {
  position: relative;
}

.modal .text-input {
  width: 100%;
  height: 40px;
  padding-left: 34px;
  padding-right: 4px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  caret-color: #2e2f42;
  color: #2e2f42;
  transition-property: border-color;
}

.modal .text-input:focus {
  border-color: #4d5ae5;
}

.modal .text-input-container .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition-property: fill;
}

.modal .form-container .text-input:focus + .icon {
  fill: #4d5ae5;
}

.modal .text-area {
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  height: 120px;
  padding: 8px 16px;
}
.modal .text-area::placeholder {
  color: #75757580;
}

.modal .form-textarea-unit {
  margin-bottom: 16px;
}

.checkbox-container {
  margin-bottom: 24px;
}

.modal .checkbox-container .label {
  display: flex;
  align-items: center;
}

.modal .custom-checkbox {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  fill: transparent;
  height: 16px;
  width: 16px;
  border: 1px solid #2e2f4266;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal input:checked + label > .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal .checkbox-container .link {
  display: inline-block;
  color: #4d5ae5;
  text-decoration: underline;
}

.modal .form-container .button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  min-width: 169px;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-container .button:hover,
.modal .form-container .button:focus {
  background-color: #404bbf;
}

.modal-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu .menu-container {
  position: relative;
  margin: 0 auto;
  max-width: 320px;
  height: 100%;
  padding: 24px;
  padding-top: 72px;
}

.modal-menu .close-button {
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #fdfdff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000001a;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  align-self: flex-end;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu .close-button .icon {
  fill: #2e2f42;
  transition-property: fill;
}

.modal-menu .close-button:hover .icon,
.modal-menu .close-button:focus .icon {
  fill: #ffffff;
}

.modal-menu .close-button:hover,
.modal-menu .close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-menu .links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-menu .list.nav .element:not(:last-child) {
  margin-bottom: 40px;
}

.modal-menu .list.nav .element {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.modal-menu .list.nav .element:first-child {
  color: #4d5ae5;
}

.modal-menu .list.conts .element {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.modal-menu .list.conts .element:not(:last-child) {
  margin-bottom: 24px;
}

.modal-menu .list.conts .element:first-child {
  color: #4d5ae5;
}

.modal-menu .list.conts {
  margin-bottom: 48px;
}

.modal-menu .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu .link:hover,
.modal-menu .link:focus {
  color: #4d5ae5;
}

.modal-menu .socials {
  gap: 40px;
}

.modal-menu .socials .link:focus,
.modal-menu .socials .link:hover {
  background-color: #404bbf;
}

/*Mobile only styles */
@media screen and (max-width: 767px) {
  /* Header styles */
  .header .logo {
    padding: 24px 0;
  }

  .header .navigation .list,
  .header .contacts {
    display: none;
  }

  /* Hero section */
  .hero.section .hero-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
  }
  .hero.section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile/1x/hero-background.jpg");
  }

  @media (min-resolution: 192dpi) {
    .hero.section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/mobile/2x/hero-background@2x.jpg");
    }
  }

  /* Advantages section */
  .advantages.section .element-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
  }

  .advantages.section .paragraph {
    font-weight: 500;
  }

  /* Team section */
  .team.section .container {
    padding: 0 28px;
  }

  /* Portfolio section */
  .portfolio.section .element {
    box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
      0px 1px 6px 0px #2e2f4214;
  }

  /* Footer section */
  .footer .socials-block,
  .footer .slogan-block,
  .footer .form-block {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
  .footer .socials-block .paragraph,
  .footer .logo,
  .footer .form-block .paragraph {
    align-self: center;
  }

  .footer .form-block .button {
    margin: 0 auto;
  }

  .footer .form-block .text-input {
    margin-bottom: 16px;
  }
  .footer .form-container .text-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* Header Styles */
  .header .burger.button {
    display: none;
  }

  .header .navigation {
    width: 100%;
    display: flex;
  }

  .header .navigation .list {
    margin: 0 auto;
  }

  .header .navigation .logo {
    padding: 24px 0;
  }

  .header .navigation .link {
    font-weight: 500;
    padding: 24px 0;
  }

  .header .navigation .list {
    display: flex;
    gap: 40px;
  }

  .navigation {
    font-weight: 500;
    color: #2e2f42;
  }

  .header .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header .link:hover,
  .header .link:focus {
    color: #404bbf;
  }
  .navigation .element:nth-child(1) .link {
    position: relative;
    color: #404bbf;
  }
  .navigation .element:nth-child(1) .link::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
    position: absolute;
  }

  .header .contacts .list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  .header .contacts .link {
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.04em;
  }

  /* Hero section */

  .hero.section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet/1x/hero-background.jpg");
  }

  .hero.section .hero-header {
    max-width: 496px;
    margin: 0 auto 36px auto;
  }

  @media (min-resolution: 192dpi) {
    .hero.section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/tablet/2x/hero-background@2x.jpg");
    }
  }

  /* Advantages section */
  .advantages.section .list {
    column-gap: 24px;
  }

  .advantages.section .list .element {
    flex-basis: calc((100% - 24px) / 2);
  }

  .advantages.section .element-header {
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  /* Adwantages section */
  .advantages.section .element-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .advantages.section .paragraph {
    font-weight: 500;
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
